.container{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    justify-content: center;
    /* background-color: aqua; */
    font-family: 'Roboto Mono', monospace;
}

.grid_container{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-gap: 50px; 
}

.keyword_list{
    list-style-type: none;
}

.keywords{
    display: inline;
    float: left;
    padding: 18px 28px;
    margin: 5px 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    background-color: #000;
    border-radius: 20px;
    color: #fff;
    font-size: x-large;
    font-weight: 500;
}

.headers{
    font-size: 35px;
    font-style: normal;
    font-weight: bolder;
    font-family: 'Roboto Mono', monospace;
}

.abstract_text{
    font-size: large;
    font-weight: bolder;
    padding: 20px;
}

.keywords{
    display: inline;
    float: left;
    padding: 15px 25px;
    margin: 5px 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    background-color: #000;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.input{
    resize: none;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;    
}

/* .btn-primary{
    /* margin: 10px; */
    /* margin-top: 20px; */
    /* margin-bottom: 20px;
    height: 10px;
    width: 500px;
} */ 

.goback{
    height: 50px;
    width: 200px;
    background-color: #01352e;
    border-style: none;
    border-radius: 20px;
    /* text-decoration: #fff; */
    color: #fff;
}
