<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keyword Categorizer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body>
    <div class="container">
        <div class="grid_container">
            <div align="center">
                <p class="headers">Your Abstract</p>
                <!-- <label>{{input_text}}</label> -->
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde in reiciendis, inventore dolores dicta
                    repellendus cumque quas doloremque ea corporis qui ab, maiores perspiciatis quod facilis, cum
                    deleniti debitis iusto.</p> -->
                <p class="abstract_text">{{input_text}}</p>
            </div>
            <div align="center">
                <p class="headers">Suggested Keywords</p>
                <!-- <label>{{output_text}}</label> -->
                <ul class="keyword_list">
                    <span id="element1"></span>
                </ul>
            </div>
        </div>
        <!-- <span id="element"></span> -->
        <div class="mt-5 mb-5" align="center">
            <button class="goback" onclick="history.go(-1)" class="btn btn-primary">Go Back</button>
        </div>
    </div>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script type="text/javascript">
        var output_text = "{{output_text}}" ;
        console.log(output_text);
        console.log( typeof output_text);
        if (typeof output_text == 'string'){
            console.log("Hello");
            var typed1 = new Typed("#element1", {
            strings: [
                // "<li class='keywords'>{{ output_text }}</li>",
                // "if(output_text.length < 0){<p>No availalble keywords</p>} else{<p>Hello World</p>}"
                "<p class='abstract_text'>No Relatable Keywords Found !!😑😑</p>"
            ],
            showCursor: false,
            typeSpeed: 30,
            loop: false,
        });
        }
        else{
            console.log("No hello");
            var typed1 = new Typed("#element1", {
            strings: [
                // "<li class='keywords'>{{ output_text }}</li>",
                // "if(output_text.length < 0){<p>No availalble keywords</p>} else{<p>Hello World</p>}"
                "{% for word in output_text %} <li class='keywords'>{{ word }}</li> {% endfor %}"
            ],
            showCursor: false,
            typeSpeed: 30,
            loop: false,
        });
        } 
    </script>

</body>

</html>

<!-- {% for word in output_text %} <li class='keywords'>{{ word }}</li> {% endfor %} -->