<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorizer Homepage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/style.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="mt-5 mb-5" align="center" style="font-size: xx-large; color: rgb(59, 5, 90);">
            <h1>Find optimized keywords for your paper</h1>
        </div>
        <div class="grid_container">
            <div align="center">
                <p class="headers">Abstract</p>
                <span id="abstract"></span>
                <h1 class="headers">Suggested Keywords</h1>
                <ul class="keyword_list">
                    <span id="element1"></span>
                </ul>
            </div>
            <div align="center">
                <h1 class="headers">Enter Abstract</h1>
                <form action="/" method="post">
                    <textarea class="input" type="text" id="text" name="input_text" rows="15" cols="50"></textarea><br />
                    <button type="submit" class="btn btn-primary">Find Keywords</button>
                </form>
            </div>
        </div>
        <span id="element"></span>
    </div>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script>
         var typed1 = new Typed("#abstract", {
            strings: [
                "<p class='abstract_text'>This paper explores the transformative impact of deep learning methodologies on cancer image classification, focusing on the training process with a diverse cancer image dataset. Employing Convolutional Neural Networks (CNNs) and attention mechanisms, our approach aims to enhance the accuracy and efficiency of cancer subtype identification.</p>"],
            typeSpeed: 10,
            showCursor:false,
            // onComplete: function () {
            //     $(".typed-cursor").hide();
            // },
            loop: false
        });
        var typed2 = new Typed("#element1", {
            strings: [
                "<li class='keywords'>convolutional neural networks</li> <li class='keywords'>feature extraction</li> <li class='keywords'>deep learning</li> <li class='keywords'>cnn</li>",
            ],
            showCursor: false,
            typeSpeed: 30,
            // backSpeed: 20,
            loop: false,
        });
    </script>
</body>

</html>